{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href=" {% static 'physics_engine/style.css' %} " />
{% endblock %}

{% block content %}
	<h1> Physics Engine </h1>
	</br>
	<section id="physicsEngine">
		<canvas id="physicsCanvas"></canvas>
		
		<div id="physicsEngineOptions">
			<button id="physicsPlayButton" class="physicsEngineOptions">Play</button>
			<button id="physicsStepButton" class="physicsEngineOptions">Step</button>
		</div>
		<div id="physicsEngineUI">
<!--
				<h2 class="physicsEditHeadings physicsEditHeadingSelected">Balls</h2>
				<h2 class="physicsEditHeadings">Springs</h2>
				<h2 class="physicsEditHeadings">Containers</h2>
				<h2 class="physicsEditHeadings">Other</h2>
				<h2 class="physicsEditHeadings">Examples</h2>
-->
<!--
				<div id="physicsEditingSection">
					Here is the bit with the UI
				</div>
-->
		</div>
	</section>
	
	{% verbatim %}
	{% endverbatim %}
{% endblock %}

{% block js %}

<!--
	<script src="{% static 'physics_engine/bouncingBallsAnim.js' %}"></script>
-->
	
	<script src=" {% static 'js/lib/underscore.js' %} "></script>
	<script src=" {% static 'js/lib/backbone.js' %} "></script>
	<script src=" {% static 'js/lib/backbone.localStorage.js' %} "></script>
	
	<script src=" {% static 'physics_engine/js/helpers/mathHelpers.js' %} "></script>
	<script src=" {% static 'physics_engine/js/helpers/mainSetup.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/container.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/containerList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/ball.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/ballView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/ballList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/spring.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/springList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/editView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/options.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/optionsView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/canvasView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/routers/physicsRouter.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/appView.js' %} "></script>
	
{% endblock %}

