{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href=" {% static 'physics_engine/style.css' %} " />
{% endblock %}

{% block content %}
	<h1> Physics Engine </h1>
	</br>
	<p> This is a 2D physics engine that I'm building in order to learn about front-end MV frameworks, I built it using Backbone.js. </p>
	<p> As a physicist, I thought it might be interesting to see what phenomena I might be able to demonstrate using a simple physics engine. </p>
	<p> <em>Please note that while this should work as is, it is still under construction. More examples, more functionality, the ability to save scenarios and mobile-friendliness are all in the works. </em> </p>
	<p> <em>Certain older broswers may fail at running the engine. Especially if you are using Safari, make sure you have the most up to date version.</em></p>
	</br>
	<p> For the moment, the engine runs using 4 objects: Balls, Springs, Ramps and Containers. </p>
	<ul>
		<li> Balls, which bounce off each other according to conservation of momentum and fall uniformly under gravity. Their velocity is shown as a black line when the engine is paused. </li>
		<li> Springs, which have a restoring force proportional to their extension, i.e. the more stretched/compressed they are the harder they pull/push back (Hooke's Law). </li>
		<li> Ramps, that the balls will bounce off.</li>
		<li> Containers, which contain the balls within a certain area. Usually the main one is enough. Starting a ball outside of it's container can cause bizzare behaviour.</li>
	</ul> 
	<p> You can add objects and alter their settings in the purple area below the engine, or by clicking and dragging the balls on the engine to change their position/speed. </p>
	<p> Click on "Play" to start playing the simulation or hold down "Step" to step through it frame-by-frame. You can also interact with the engine while it is playing by click+dragging balls. </p>
	</br>
	<section id="physicsEngine">
		<canvas id="physicsCanvas"></canvas>
		
		<div id="physicsEngineOptions">
			<button id="physicsPlayButton" class="physicsEngineOptions">Play</button>
			<button id="physicsStepButton" class="physicsEngineOptions">Step</button>
			<div id="physicsGOption" class="physicsEngineOptions"><p>g: &nbsp; </p><input><p>px/frame<sup>2</sup></p></div>
			<button id="physicsResetButton" class="physicsEngineOptions">Reset All</button>
		</div>
		<div id="physicsEngineGraphingArea"></div>
	
	</section>
	
	{% verbatim %}
	
	<script type="text/template" id="ballTemplate">
		<li><h3> <%- name %> (<%- id %>)</h3></li>
	</script>
	
	<script type="text/template" id="columnTemplate">
	<ul class="column textColumn">
		<% for (var i=0; i < text.length; i++) { %>
			<li><%= text[i] %></li>
		<% } %>
	</ul>
	</script>
	
	<script type="text/template" id="statsColumnTemplate">
	<div class="column statsColumn">
		<% for (var i=0; i < stats.length; i++) { %>
			<p><%= stats[i] %></p>
		<% } %>
	</div>
	</script>

	<script type="text/template" id="editColumnTemplate">	
	<div class="column inputColumn">
		<% for (var i=0; i < attrs.length; i++) { %>
			<% if (attrs[i].type === "inputFloat") { %>
				<input class="editAttr inputAttr floatAttr" data-attr=<%-attrs[i].attr%>>
			<% } %>
			<% if (attrs[i].type === "inputFloat/Array") { %>
				<input class="editAttr inputAttr floatAttr arrayAttr" data-attr=<%-attrs[i].attr%>>
			<% } %>
			<% if (attrs[i].type === "inputString") { %>
				<input class="editAttr inputAttr stringAttr" data-attr=<%-attrs[i].attr%>>
			<% } %>
			<% if (attrs[i].type === "bool") { %>
				<button class="editAttr toggleAttr" data-attr=<%-attrs[i].attr%>>Toggle</button>
			<% } %>
		<% } %>
	</div>
	</script>
	


	<script type="text/template" id="specialViewTemplate">	
	</script>
	
	<script type="text/template" id="editViewTemplate">	
	<h3> <%-collection["name"]%> </h3>
	<em>This area is not entirely functional yet. For example, there is no way to delete graphs once created (you'll have to refresh)</em>
	<button class="addNew">Add a new <%-collection["nameModel"]%></button>
	</script>
	
	<script type="text/template" id="graphEditViewTemplate">	
	<h4> <%-model.get("name")%> (<%- model.get("id") %>) </h4>
	<ul>
		<li>Balls: <%-model.get("plottingBalls")%> <input class="graphEditBalls"> </li>
		<li>Plotting: <select class="graphTypeSelect"> <% for (var i=0; i < model.get("plottingOptions").length; i++) { %> 
			<option value=<%-i%> ><%-model.get("plottingOptions")[i][0]%></option> 
			<% } %> </select> <input class="graphEditDir graphEditDirX"><input class="graphEditDir graphEditDirY"> (leave empty for scalar)
		</li>	
	</ul>
	</script>
	
	<script type="text/template" id="graphViewTemplate">	
		<canvas class="graphCanvas" width="700" height="180"></canvas>
	</script>
	
	{% endverbatim %}
{% endblock %}

{% block js %}

<!--
	<script src="{% static 'physics_engine/bouncingBallsAnim.js' %}"></script>
-->
	
	<script src=" {% static 'js/lib/underscore.js' %} "></script>
	<script src=" {% static 'js/lib/backbone.js' %} "></script>
	<script src=" {% static 'js/lib/backbone.localStorage.js' %} "></script>
	
	<script src=" {% static 'physics_engine/js/helpers/mathHelpers.js' %} "></script>
	<script src=" {% static 'physics_engine/js/helpers/mainSetup.js' %} "></script>
	
	<script src=" {% static 'physics_engine/js/routers/physicsRouter.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/container.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/containerList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/ball.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/ballList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/spring.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/springList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/ramp.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/rampList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/editChildView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/editView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/graph.js' %} "></script>
	<script src=" {% static 'physics_engine/js/collections/graphList.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/graphEditView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/graphView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/specialView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/models/options.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/optionsView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/canvasView.js' %} "></script>
	<script src=" {% static 'physics_engine/js/views/appView.js' %} "></script>
	
{% endblock %}

