{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href=" {% static 'home/style.css' %} " />
{% endblock %}

{% block content %}
	<h1> Welcome </h1>
	</br>
	<p> Welcome to my website! </p>
	<p> I made this website in the summer of 2016 to learn about Web dev and with the hope of collating the projects I work on.</p>
	<p> You can find my projects in the nav bar on the left.</p>
	</br>
	<p> I built this website myself, with some help from the internet and using the following tools:</p>
	<ul>
		<li>Back End
			<ul>
				<li>Apache is running my Ubuntu server</li>
				<li>Django (Python) is handling requests, hosted on Apache using the mod_wsgi module</li>
			</ul>
		</li>
		<li>Front End
			<ul>
				<li>HTML5Boileplate, for setting up my base Django template</li>
				<li>jQuery</li>
				<li>Backbone.js is doing the front end on some of my web apps, like my <a href="{% url 'physics_engine:index' %}">Physics Engine</a></li>
			</ul>
		</li>
	</ul>
	</br>
	<p> Below is an example of one of my projects, a physics engine I've built in Javascript. 
		At the moment, there are particles that rebound according to the laws of momentum and springs that work according to Hooke's Law.
		The simulation below is just an example, with a Newton cradle (including energy loss), a damped spring and some perfectly elastic particles at the bottom.</p>
	</br>
	<p> It's also interactive. </p>
	<p> <b><em>Click a particle to "kick" it</em></b> or <b><em>click and drag to pull it somewhere.</em></b></p>
	<p> The damped spring only takes so much tension: if you pull it too hard it'll break. The cradle springs however, will hardly extend at all and won't break.</p>
	<canvas id="animCanvas" class="physicsCanvas"></canvas>
{% endblock %}

{% block js %}
	<script src="{% static 'home/bouncingBallsAnim.js' %}"></script>
{% endblock %}
