{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" type="text/css" href=" {% static 'home/style.css' %} " />
{% endblock %}

{% block content %}
	<h1> Welcome </h1>
	</br>
	<p> Welcome to my website! </p>
	<p> I made this website in the summer of 2016 to learn about Web dev and with the hope of collating the projects I work on.</p>
	<p> You can find my projects in the nav bar on the left.</p>
	</br>
	<p> I built this website myself, with some help from the internet and using the following tools:</p>
	<ul>
		<li>Back End
			<ul>
				<li>Apache is running my Ubuntu server</li>
				<li>Django (Python) is handling requests, hosted on Apache using the mod_wsgi module</li>
			</ul>
		</li>
		<li>Front End
			<ul>
				<li>HTML5Boileplate, for setting up my base Django template</li>
				<li>jQuery</li>
				<li>Backbone.js is doing the front end on some of my web apps</li>
			</ul>
		</li>
	</ul>
	</br>
	<p> Use the links on the left to go to the various parts of my site. Probably the most fleshed out in terms of client-side programming 
	is my <a href="{% url 'physics_engine:index' %}">Physics Engine</a> which I built using Backbone.js.
	</p>
{% endblock %}

{% block js %}
{% endblock %}
